{
    "presets": [
      ["@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 versions, > 1%, ie >= 6, Chrome >= 29, Firefox >= 55, Safari >= 9, Android >= 4, iOS >= 9, and_uc > 11",
          "node": "9.2.1"
        },
        "modules": "commonjs",
        "loose": false
      }]
    ],
    "plugins": [
      ["@babel/plugin-transform-runtime"]
    ],
    "env": {
      "test": {
        "plugins": [
          "istanbul"
        ]
      }
    }
  }
  